.header-class{
    background-color: #e9f0ec;
}
.head{
    background-color: #e9f0ec;
}
.link-a{
    text-decoration: none;
    color: black;
}
.bod{
    margin-top: 70px;
}
.left{
    background-color: #00cba0;
    border-radius: 20px;
}

.btngt{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 10px;
}
.btngt:hover{
    color: white;
    background-color: black;
}
.expert-data{
    background-color: black;
    padding: 70px;
}
.img-s{
    width: 60%;
}
@media (max-width: 900px) {
    .img-s{
        width: 100%;
    }
}
@media (max-width:600px) {
    .expert-data{
        background-color: #e9f0ec;
        padding: 0px;
    }
}
#buttonclose{
    display: none;
}
.bg-nav, .bg-ahref{
    background-color: #00cba0;
    color: white;
}
.bg-ahref{
    border-radius: 10px;
    transition:background-color .6s;
}
.bg-ahref:hover{
    background-color: #e9f0ec;
    color: #00cba0;
}
.bg-footer{
    background-color: #00cba0;
    color: white;
}
.bg-green{
    color: #00cba0;
}